In [2]:
import pandas as pd
import json

In [5]:
path = 'yelp_academic_dataset_review.json'
reviewList700 = []
reviewList100 = []
reviewList635403 = []
i = 0

with open(path,encoding='utf-8') as f:
    try:
        while True:
            line_data = f.readline()
            
            if line_data:
                
                if i < 7000000:
                
                    data1 = json.loads(line_data)
                    reviewList700.append({
                        'review_id' : data1['review_id'],
                        'review_text' : data1['text'],
                        'stars' : data1['stars'],
                        'taget' : 1 if data1['stars'] > 3 else 0

                    })
                elif i < 8000000:
                    data2 = json.loads(line_data)
                    reviewList100.append({
                        'review_id' : data2['review_id'],
                        'review_text' : data2['text'],
                        'stars' : data2['stars'],
                        'taget' : 1 if data2['stars'] > 3 else 0
                    })
                elif i <= 8635403:
                    data3 = json.loads(line_data)
                    reviewList635403.append({
                        'review_id' : data3['review_id'],
                        'review_text' : data3['text'],
                        'stars' : data3['stars'],
                        'taget' : 1 if data3['stars'] > 3 else 0

                    })
                else:
                    continue
                i+=1
            else:
                break
    except Exception as e:
        f.close()
        print(e)
df1 = pd.DataFrame(reviewList700)
df1.to_csv('train1205.csv', index=False)
df2 = pd.DataFrame(reviewList100)
df2.to_csv('val1205.csv', index=False)
df3 = pd.DataFrame(reviewList635403)
df3.to_csv('test1205.csv', index=False)
i

8635403

In [4]:
df1 = pd.read_csv('test1205.csv')
df1.head(2)

,review_id,review_text,stars,taget
0,5aL-Ss0XhLEH1TAdlECnhQ,My first time here! We were seated pretty quic...,3.0,0
1,THJuJ371DW5FKtuDQ0qMtQ,Just wanted to give a shout out to THE STEAM T...,5.0,1